* {
    box-sizing: border-box
}

p, h1, h2, h3, h4, h5, h6, label, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p.bold {
    font-weight: bold
}

p.inline {
    display: inline-block;
}

.result-container {
    
}

.result-poster img {
}

.result-description {

}

@media screen and (max-width: 750px) {

    .result-container {
        
    }

    .result-poster {
        margin: auto;
        float: none !important;
        width: 100% !important;
    }    

    .result-description {
        margin: auto;
        float: none !important;
        width: 100% !important;
        text-align: center !important;
    }

}