<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Open Goggles Project">
    <meta name="author" content="Keivan Ipchi Hagh">

    <title>Open Goggles</title>        

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    

    <!-- Static files -->
    <link href="{% static 'OG/css/main.css' %}" type="text/css" rel="stylesheet"></link>
    <script src="{% static 'OG/js/main.js' %}" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'OG/img/favicon.png' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">    
</head>

<body>
    <!-- Navigation Bar - Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Open Goggles project</a>

        <!-- Toggler - Start -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggler - End -->
    </nav>
    <!-- Navigation Bar - End -->
    <!-- Page Content -->
    <div class="container">

        <!-- Search Box - Start -->
        <div class="row mb-5">

            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Find and Review your favorite movies</h1>
                <p class="lead"></p>
            </div>

            <div class="" style="width: 60%; margin: auto; display: flex">
                <input id="phrase" name="phrase" type="text" class="form-control mr-1" id="name" placeholder="Movie / Series name ..." style="width:79%; padding-top: 0px; display: inline-block">
                <button type="button" class="btn btn-dark ml-1" style="width: 20%; display: inline-block; cursor: pointer" onclick="search_phrase()">Search</button>
                <input type="hidden" name="secret" id="secret" value="{{ secret }}">
            </div>
        </div>
        <!-- Search Box - End -->

        <div class="row">

            <div class="result-container" style="margin: auto; width: 100%; font-family: 'Open Sans'">

                <div class="result-poster pr-3" style="width: 50%; float: left; text-align: center">
                    <img id="Poster" name="Poster" src="" alt="Poster" style="max-height:100%; max-width:100%; border: 1px solid grey; padding: 3px">
                </div>

                <div class="result-description pr-3" style="width: 50%; float: left">
                    <div class="row mb-3" style="border: 1px solid grey; padding: 10px 15px">
                        <div style="width: 100%">
                            <div class="col-sm-10 p-0" style="float: left">
                                <h4 id="Title" name="Title"></h4>
                            </div>
                            <div class="col-sm-2" style="float: left; text-align:center">
                                <p class="mb-0 badge-dark" id="Rated" name="Rated" style="border: 1px solid grey; padding: 1px 3px; border-radius: 5px; font-size: small"></p>
                            </div>
                        </div>
                        <p class="mb-0" id="Released" name="Released"></p>
                        <p class="mb-0" id="Genre" name="Genre"></p>
                        <p class="mb-0" id="Duration" name="duration"></p>
                    </div>

                    <p id="Language" name="Language"></p>
                    <p id="Writer" name="Writer"></p>
                    <p id="Director" name="Director"></p>
                    <p id="Actors" name="Actors"></p>
                    <p id="Awards" name="Awards"></p>

                    <div class="row mb-3">
                        <div class="col-sm-4" style="text-align: center; border-right: 1px solid grey"><p class="mb-1" id="IMDB" name="IMDB"></p></div>
                        <div class="col-sm-4" style="text-align: center; border-right: 1px solid grey"><p class="mb-1" id="Metacritic" name="Metacritic"></p></div>
                        <div class="col-sm-4" style="text-align: center"><p class="mb-1" id="RottenTomatoes" name="RottenTomatoes"></p></div>
                    </div>

                    <p id="Plot" name="Plot" style="font-style: italic"></p>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>