<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Open Goggles Project">
    <meta name="author" content="Keivan Ipchi Hagh">

    <title>Open Goggles</title>

    <!-- Static files -->
    <script src="{% static 'OG/js/main.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</head>

<body>
    <!-- Navigation Bar - Start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Open Goggles project</a>

        <!-- Toggler - Start -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Toggler - End -->
    </nav>
    <!-- Navigation Bar - End -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Find and Review your favorite movies</h1>
                <p class="lead"></p>
            </div>

            <form class="" style="width: 60%; margin: auto">
                <input id="phrase" name="phrase" type="text" class="form-control" id="name" placeholder="Movie / Series name ..." style="width:79%; padding-top: 0px; display: inline-block">
                <button type="button" class="btn btn-dark" style="width: 20%; display: inline-block; cursor: point" onclick="search_phrase()">Search</button>
                <div id="feedback" name="feedback" class="invalid-feedback" style='display: none'>Hmmm, I couldn't find anything, don't you have a Typo?</div>
                <input type="hidden" name="secret" id="secret" value="{{ secret }}">
            </form>
        </div>
        <div class="row">
            
        </div>
    </div>
</body>
</html>
